nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    justify-content: space-around;
}

#logo {
    filter: hue-rotate(80deg) saturate(700%) grayscale(50%)
        drop-shadow(10px 10px 20px rebeccapurple);
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid rebeccapurple;
}

#mobile {
    display: none;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .menuOpen {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 20px;
        color: white;
    }

    .menuOpen {
        display: none;
    }

    .menuOpen li {
        display: none;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        color: white;
    }

    ul {
        flex-direction: column;
        gap: 1.2rem;
    }
}
