@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat&family=Open+Sans&family=Poppins:ital,wght@0,400;0,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: rgb(33, 33, 33);
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

h1 {
    text-align: center;
    margin: 30px;
}

p {
    text-align: center;
}

#about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#about img {
    margin-top: 2%;
}

#state {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input {
    width: 20%;
}

input[type="text"] {
    width: 30%;
    padding: 8px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    font-size: large;
    border: none;
}

input[type="text"]:hover {
    width: 30%;
    padding: 8px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    font-size: large;
    border-bottom: 3px solid rebeccapurple;
}

input[type="text"]:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid rebeccapurple;
}

#buttonState {
    margin-top: 2%;
    background-color: rebeccapurple;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

#buttonState:hover {
    background-color: rgb(127, 72, 183);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    float: left;
    cursor: pointer;
}
